@import url('https://fonts.googleapis.com/css?family=Lora:400i');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rasa');

/* CSS resets */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Forms reset https://gist.github.com/anthonyshort/552543 */

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:15px;
	font-family: 'Raleway', sans-serif;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
    min-width: 13px;
    min-height: 13px;
	  width:13px;
	  height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea
{
	/* Move the label to the top */
	vertical-align:top;
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
}

/* Variables */
/* https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=9ed36a&secondary.color=8341c6&primary.text.color=332b2f */

:root {
    --primary: #9ed36a;
    --primary-light: #d1ff9a;
    --primary-dark: #6da13c;
    --secondary: #8341c6;
    --secondary-light: #b670fa;
    --secondary-lighter: #c7aae5;
    --secondary-lightest: #e1d1f1;
    --secondary-dark: #500e94;
    --secondary-darker: #371955;
    --on-primary: #332b2f;
    --on-secondary: #ffffff;

    --background-light: #fafafa;
    --background: #eeeeee;
    --background-dark: #888888;
    --background-darker: #555555;
    --shadow: #0007;
    --shadow-dark: #000a;
    --shadow-faint: #0003;
    --outline: #aaa;
    --outline-dark: #777;
    --outline-faint: #0003;
    --outline-focus-light: #fff8;
    --outline-focus-dark: #000;
}

/* Body */

body {
    background-color: var(--background);
}

/* Login form */

.modal-container {
    background-color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-form {
    border: 0.5px solid var(--outline-faint);
    box-shadow: 0px 1px 5px 0px var(--shadow);
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary);
    width: 90%;
    max-width: 23rem;
}

input[type=text],
input[type=password] {
    display: block;
    margin: 1rem 0;
    font-size: 1.5rem;
    width: 95%;
    max-width: 20rem;
    border: 1px solid var(--outline);
    padding: 0.2em;
    border-radius: 0.2em;
    color: var(--on-primary);
    background-color: var(--secondary-lighter);
    box-shadow: 0px 1px 2px 0px var(--shadow-faint) inset;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: var(--secondary-lightest);
}

.login-signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pill-button {
    border: 1.5px solid var(--outline-faint);
    box-shadow: 0px 1px 3px 0px var(--shadow);
    border-radius: 999rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    margin: 0.5em 0.3em;
    transition: background-color 0.1s;
    outline: none;
}

.pill-button.on-secondary {
    color: var(--on-secondary);
    background-color: var(--secondary-dark);
}

.pill-button.on-primary {
    color: var(--on-secondary);
    background-color: var(--secondary);
}

.pill-button:focus {
    border: 1.5px solid var(--outline-focus-light);
}

.pill-button:active {
    border: 1.5px solid var(--outline-faint);
}

.pill-button.on-secondary:active {
    background-color: var(--secondary-darker);
}

.pill-button.on-primary:active {
    background-color: var(--secondary-dark);
}

.text-button {
    color: var(--on-secondary);
    text-shadow: 1px 0px 3px var(--shadow);
    text-decoration: underline;
    padding: 0.1rem;
    border: 1px solid transparent;
}

.text-button:focus {
    border: 1px dashed var(--outline-focus-light);
}

.text-button:active {
    text-shadow: 1px 0px 3px var(--shadow-dark);
}

.button-text {
    font-size: 1.6rem;
}

/* Header */

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: var(--primary);
    /*box-shadow: 0 1px 3px 0 var(--shadow-faint);*/
    border-bottom: 1.5px solid var(--primary-dark);
    z-index: 1000;
}

.logo {
    font-family: 'Rasa', serif;
    font-size: 2rem;
    color: var(--secondary-dark);
}

.logout-button {
    border: 1.5px solid black;
    border-radius: 999rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.logout-button:active {
    background-color: #eee;
}

/* Main styles */

.todo-container {
    background: var(--background);
    display: flex;
    flex-direction: column;
    padding-bottom: 6.5rem;
}

.todo-section {
    flex-basis: 50%;
    overflow-x: hidden;
}

.section-title {
    font-size: 2.5rem;
    padding: 1.5rem 2rem 1rem 2rem;
    background: var(--background);
    color: var(--primary-dark);
    font-family: 'Lora', serif;
    font-style: italic;
}

.todo-list {
    position: relative;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    z-index: 1000;
}

.item {
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid #bbb;
    border-bottom: 0.5px solid #bbb;
    background: var(--background-light);
    color: var(--on-primary);
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.item-main::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 2.8em, white 4.3em);
    transition: opacity 0.3s;
}
.selected .item-main::before {
    opacity: 0;
}

.item-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0.8rem;
    position: relative;
}

.item-first {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    max-height: 3.6em;
    transition: max-height 0.3s;
}

.selected .item-first {
    max-height: 20em;
    transition: max-height 1.0s;
}

.item-exit {
    animation: slide-out 0.5s;
    overflow: hidden;
    position: relative;
    border: 0px solid transparent;
}
@keyframes slide-out {
    from {
        left: 0;
        max-height: 6rem;
    }
    to {
        left: 100%;
        max-height: 0;
    }
}


.item-title {
    font-weight: bold;
    margin: 0 1rem;
    margin-left: 0rem;
    line-height: 1.2em;
}

input[type=checkbox] {
    min-width: 0.5em;
    width: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    align-self: center;
}

.css-check {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: -0.5em;
    margin-right: 0.6em;
    vertical-align: bottom;
    border: 1.5px solid var(--outline);
    border-radius: 0.2rem;
    align-self: center;
}

input[type=checkbox] + .css-check::after {
    content: '✓';
    text-align: center;
    position: relative;
    bottom: 0.1em;
    opacity: 0;
    color: var(--outline-dark);
    transition: opacity 0.1s ease-out;
}

input[type=checkbox]:focus + .css-check {
    box-shadow: 0 0 3px 0 var(--shadow);
}

input[type=checkbox]:checked + .css-check::after {
    opacity: 1;
}

.item-deadline {
    font-style: italic;
    color: var(--secondary-dark);
    line-height: 1.2em;
    margin-right: 0.5rem;
    text-align: right;
}

.item-options {
    background-color: var(--secondary-light);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.3rem;
    box-shadow: 0 0 2px 0 var(--shadow) inset;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}

.selected .item-options {
    height: 3rem;
}

.option-button {
    padding: 0.4em 0.8em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

/* FAB */

.fab {
    color: var(--on-secondary);
    background-color: var(--secondary);
    box-shadow: 0px 1px 5px 0px var(--shadow-dark);
    font-size: 2.5rem;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 10000;
    transition: background-color 0.1s;
}

.fab:focus {
    border: 1.5px solid var(--outline-focus-light);
    outline: none;
}

.fab:active {
    border: 1.5px solid var(--outline-faint);
    background-color: var(--secondary-dark);
}

.undo {
    background-color: var(--background-dark);
    box-shadow: 0px 1px 5px 0px var(--shadow-dark);
    border-radius: 0.5rem;
    position: fixed;
    padding: 0.2rem;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 10000;
    transition: background-color 0.1s, opacity 0.2s;
}

.dismiss-button,
.undo-button {
    font-size: 1.4rem;
    color: var(--on-secondary);
    margin: 0.1rem;
    padding: 0.07rem;
    border-radius: 0.3rem;
    border: 1.5px solid transparent;
}

.dismiss-button:focus,
.undo-button:focus {
    border: 1.5px solid var(--outline-focus-light);
    outline: none;
}

.undo:active {
    background-color: var(--background-darker);
}

.undo-hidden {
    opacity: 0;
}

/* Edit form */

/*.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}*/

.item-deadline.on-edit-form {
    background: var(--background);
    margin: 0;
    width: 100%;
    margin: 1rem 0;
    max-width: 20.65rem;
    padding: 0 0.7rem;
    border-radius: 0.3rem;
    height: 2.15rem;
    line-height: 2.15rem;
    font-size: 1.3rem;
}
